*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    height: 10vh;
    margin-top: 1em;
    margin-left: 2em;
}
.main-land{
    display: flex;
    justify-items: evenly distribute;
    

}
.main-land2 {
    margin-top : 3vh;
}
.para-main{
    width: 38%;
    margin-left: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 8%;
}
.image-main{
    background-image: url("./images/home-main.jpeg");
    margin-left: 8%;
    margin-top: 5%;
    width: 45%;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.para-main p{
    padding-top: 5%;
}
.images-container{
    width: 50%;
    height: 50vh;
    margin-left: 4%;
    margin-top: 5%;
    background-size: cover;
}
.splide__slide img {
    width: 100%;
    height: auto;
  }
  button {
    height :24px;
    width: 24px;
    background-color : gray;
    color:white;
  }
  #section2 {
    margin-top: 2em;
    padding-top: 150px;
  }